/*
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header .avatar {
  width: 69px;
  height: 69px;
  overflow: hidden;
  border-radius: 50%;
}

header .avatar img {
  width: 100%;
  height: auto;
  margin-top: -16px;
  margin-right: -3x;
}

header h1 {
  text-align: left;
  margin-bottom: 3px;
  color: white;
}

header a {
  text-decoration: none;
  color: inherit;
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

header ul > li {
  float: left;
  display: block;
  padding-right: 0.8em;
}

header ul img {
  color: #ff0000;
  width: 25px;
  margin-bottom: -8px;
}

nav {
  text-align: center;
}

a {
  color: grey;
}

a:visited {
  color: grey;
}

a:hover {
  color: #b605fc;
}

body {
  font: 1.1em/1.5em sans-serif;
  max-width: 55em;
  margin: 1em auto;
  padding: 0 0.6em;
  color: #e5e5e5;
  background-color: #262528;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  text-align: center;
}

.button {
  position: relative;
  padding: 8px 16px;
  height: 50px;
  background: #e8e8e0;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover {
  background: #f7fa04;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

ul.books {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

ul.books > li {
  display: inline-block;
  vertical-align: top;
  padding: 13px;
}

.book {
  display: flex;
  justify-content: space-around;
}

footer {
  text-align: center;
  font: 0.7em/1.2em sans-serif;
}
*/
