{% extends "base.html" %} {% block content %} {% include "navbar.html" %}

<h4>{{ section.title }}</h4>
{{ section.content | safe }}

<ul class="books" id="books">
  {% for book in section.pages %} {% for asset in book.assets %} {% if asset is
  matching(".jpeg|.png|.cover.") %} {% set cover = resize_image(path=asset,
  width=200, op="fit_width") %}
  <li>
    <a href="{{ book.permalink }}">
      <img src="{{ cover.url }}" />
    </a>
  </li>
  {%- endif %} {% endfor %} {% endfor %}
</ul>

{% include "navbar.html" %} {% endblock content %}
